@font-face {
    font-family: 'Avenir-Black';
    src: url('fonts/AvenirLTPro-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Avenir-Book';
    src: url('fonts/AvenirLTPro-Book.otf') format('opentype');
}

@font-face {
    font-family: 'Avenir-Heavy';
    src: url('fonts/AvenirLTPro-Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'Avenir-Light';
    src: url('fonts/AvenirLTPro-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('fonts/AvenirLTPro-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('fonts:/AvenirLTPro-Roman') format('opentype');
}

.rectangle3 { /* blue */
    -webkit-animation-name: image13; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s ; /* Safari 4.0 - 8.0 */
    animation-name: image13;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
}




.image11 { /* orange */
    -webkit-animation-name: image11; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s ; /* Safari 4.0 - 8.0 */
    animation-name: image11;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
}


.image12 { /* green */
    -webkit-animation-name: image12; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s ; /* Safari 4.0 - 8.0 */
    animation-name: image12;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
}


@-webkit-keyframes image13 {
    0%   {left:0px; top:324px; opacity: 1;}
    25%  {left:0px; top:0px; opacity:0;}
    50%  {left:324px; top:0px; opacity:1;}
    75%  {left:324px; top:324px; opacity:0;}
    100% {left:0px; top:324px; opacity:1; }

}

@keyframes image13 {
    0%   {left:0px; top:324px; opacity: 1;}
    25%  {left:0px; top:0px; opacity:0;}
    50%  {left:324px; top:0px; opacity:1;}
    75%  {left:324px; top:324px; opacity:0;}
    100% {left:0px; top:324px; opacity:1; }
}

@-webkit-keyframes image12 {
    0%   {left:324px; top:0px; opacity:1;}
    25%  {left:324px; top:324px; opacity:0;}
    50%  {left:0px; top:324px;opacity:1;}
    75%  {left:0px; top:0px; opacity:0;}
    100% {left:324px; top:0px;opacity:1;}
}

@keyframes image12 {
    0%   {left:324px; top:0px; opacity:1;}
    25%  {left:324px; top:324px; opacity:0;}
    50%  {left:0px; top:324px;opacity:1;}
    75%  {left:0px; top:0px; opacity:0;}
    100% {left:324px; top:0px;opacity:1;}
}

@-webkit-keyframes image11 {
    0%   {left:162px; top:162px;-webkit-transform: rotate(0deg);transform:rotate(0deg);}
    25%  {left:0px; top:324px;-webkit-transform: rotate(360deg);transform:rotate(360deg);}
    50%  {left:162px; top:162px;-webkit-transform: rotate(0deg);transform:rotate(0deg);}
    75%  {left:324px; top:0px;-webkit-transform: rotate(-360deg);transform:rotate(-360deg);}
    100% {left:162px; top:162px;-webkit-transform: rotate(0deg);transform:rotate(0deg);}
}

@keyframes image11 {
    0%   {left:162px; top:162px;-webkit-transform: rotate(0deg);transform:rotate(0deg);}
    25%  {left:0px; top:324px;-webkit-transform: rotate(360deg);transform:rotate(360deg);}
    50%  {left:162px; top:162px;-webkit-transform: rotate(0deg);transform:rotate(0deg);}
    75%  {left:324px; top:0px;-webkit-transform: rotate(-360deg);transform:rotate(-360deg);}
    100% {left:162px; top:162px;-webkit-transform: rotate(0deg);transform:rotate(0deg);}
}



/*
@-webkit-keyframes image12 {
    0%   {left:162px; top:162px;-webkit-transform: rotate(0deg);transform:rotate(0deg);}
    25%  {left:162px; top:324px;-webkit-transform: rotate(0deg);transform:rotate(180deg);}
    50%  {left:326px; top:324px;-webkit-transform: rotate(180deg);transform:rotate(360deg);}
    75%  {left:326px; top:162px;-webkit-transform: rotate(360deg);transform:rotate(180deg);}
    100% {left:162px; top:162px;-webkit-transform: rotate(180deg);transform:rotate(0deg);}
}

@keyframes image12 {
    0%   {left:162px; top:162px;-webkit-transform: rotate(0deg);transform:rotate(0deg);}
    25%  {left:162px; top:324px;-webkit-transform: rotate(0deg);transform:rotate(180deg);}
    50%  {left:326px; top:324px;-webkit-transform: rotate(180deg);transform:rotate(360deg);}
    75%  {left:326px; top:162px;-webkit-transform: rotate(360deg);transform:rotate(180deg);}
    100% {left:162px; top:162px;-webkit-transform: rotate(180deg);transform:rotate(0deg);}
}

@-webkit-keyframes image11 {
    0%   {left:0px; top:324px; -webkit-transform: rotate(0deg);transform:rotate(0deg);}
    25%  {left:0px; top:162px; -webkit-transform: rotate(180deg);transform:rotate(180deg);}
    50%  {left:162px; top:162px;-webkit-transform: rotate(180deg);transform:rotate(360deg);}
    75%  {left:162px; top:324px;-webkit-transform: rotate(360deg);transform:rotate(180deg);}
    100% {left:0px; top:324px; -webkit-transform: rotate(180deg);transform:rotate(0deg);}
}


@keyframes image11 {
    0%   {left:0px; top:324px; -webkit-transform: rotate(0deg) ;transform:rotate(0deg);}
    25%  {left:0px; top:162px; -webkit-transform: rotate(180deg);transform:rotate(180deg);}
    50%  {left:162px; top:162px;-webkit-transform: rotate(180deg);transform:rotate(360deg);}
    75%  {left:162px; top:324px;-webkit-transform: rotate(360deg);transform:rotate(180deg);}
    100% {left:0px; top:324px; -webkit-transform: rotate(180deg);transform:rotate(0deg);}
}

@-webkit-keyframes image13 {
    0%   {left:324px; top:0px; -webkit-transform: rotate(0deg);transform:rotate(0deg);}
    25%  {left:162px; top:162px; -webkit-transform: rotate(0deg);transform:rotate(180deg);}
    50%  {left:0px; top:0px; -webkit-transform: rotate(180deg);transform:rotate(360deg);}
    75%  {left:162px; top:162px; -webkit-transform: rotate(360deg);transform:rotate(180deg);}
    100% {left:324px; top:0px; -webkit-transform: rotate(180deg);transform:rotate(0deg);}
}

@keyframes image13 {
    0%   {left:324px; top:0px; -webkit-transform: rotate(0deg);transform:rotate(0deg);}
    25%  {left:162px; top:162px; -webkit-transform: rotate(0deg);transform:rotate(180deg);}
    50%  {left:0px; top:0px; -webkit-transform: rotate(180deg);transform:rotate(360deg);}
    75%  {left:162px; top:162px; -webkit-transform: rotate(360deg);transform:rotate(180deg);}
    100% {left:324px; top:0px; -webkit-transform: rotate(180deg);transform:rotate(0deg);}
}*/
